<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url 'index' %}">Personal Finance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'transaction_list' %}">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'report' %}">Generate report</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">{{ user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'sing-out' %}?next={{ request.path }}">Logout</a>
                </li>
            {% else %}
                <li>
                    <a class="btn btn-outline-primary" href="{% url 'sing-in' %}?next={{ request.path }}">Sign in</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>