{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <a class="btn btn-primary" href="{% url 'transaction_create' %}">New transaction</a>
        <ul>
            {% for transaction in transactions %}
                <li>
                    [
                    <a href="{% url 'category_detail' transaction.category.pk %}">
                        {{ transaction.category_name }}
                    </a>
                    ]
                    -
                    <a href="{% url 'transaction_detail' transaction.pk %}">
                        {{ transaction.description|truncatewords:9 }} ({{ transaction.amount }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}